* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Courier New", "Courier", "monospace";
}

body {
  height: 100%;
  width: 100%;
}

/*
*/

#sec-1 {
  background: rgba(20, 20, 20, 0.9) url(../Images/header-bg.jpg) no-repeat
    center center fixed;
  background-size: 100% 100%;

  background-blend-mode: darken;
}

.container {
  width: 1140px;
  margin: 0px auto;
  padding: 10px 0px;
}

body section header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: aliceblue;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  transform: scale(2, 0, 5);
  transition: all 0.5s;
}
a:hover {
  background-color: rgb(48, 48, 99);
  padding: 20px 20px;
}

.active {
  background-color: darkgreen;
  padding: 15px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(25, 13, 37, 0.5);
  padding: 50px 30px;
  color: #efe2e5;
  width: 40%;
  text-align: start;

  font-size: medium;
}

.input {
  border-radius: 5px;
  height: 40px;
  margin: 7px 5px;
  padding-left: 10px;
}

button {
  background-color: #f9b700;
  text-transform: uppercase;
  color: #efe2e5;
  padding: 15px 15px;
  text-align: center;
  outline-style: none;
}

body section div section form div {
  display: flex;
  flex-wrap: wrap;
}

.fonthead {
  color: #efe2e5;

  margin: auto 0px;
  width: 45%;
}
.marginhead {
  margin: 25px 5px;
}
h1 {
  font-size: xx-large;
}

/*sec-5*/
.sec-5 {
  background: rgba(20, 20, 20, 0.9) url(../Images/callaction-bg.jpg) no-repeat
    center center fixed;
  background-size: 100% 100%;

  background-blend-mode: darken;
  margin-top: 30px;
  height: 300px;
  color: aliceblue;
  text-align: center;
}

section.sec-5 > div {
  padding: 50px 20px;
}
section.sec-5 > div >h1,p,button{
  padding: 20px 20px;
}
section.sec-5 > div >button{
  background-color: rgba(236, 218, 19, 0);
color: #e8ae0d;
}
/*sec-6*/
.flexsec6 {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

div.card {
  margin: 15px 15px;
}

.date {
  background-color: black;
  color: #efe2e5;
  padding: 5px 5px;
  margin: 5px 0px;
  display: block;
  width: 50%;
}

/*sec-7*/
ul {
  list-style: none;
}

footer {
  background-color: #04091d;
  color: #efe2e5;
}

footer > div.container {
  display: flex;
  justify-content: space-between;
  padding: 50px 5px;
  text-align: center;
}

.inputsear {
  margin-left: 0px;
  margin-right: 0px;
  height: 30px;
}
#button2 {
  background-color: #e8ae0d;
  text-transform: uppercase;
  color: #efe2e5;
  padding: 5px 5px;
  position: absolute;
  right: 0.2px;

  text-align: center;
  height: 30px;
  outline-style: none;
}

li {
  margin: 10px auto;
  position: relative;
}
