* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Courier New", "Courier", "monospace";
}

body {
  height: 100%;
  width: 100%;
  background-image: url(../Images/header-bg.jpg);
  background-repeat: no-repeat;
}

body > div > section {
  margin: 10px auto;
  width: 1140px;
}

body div section header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: aliceblue;
  padding-left: 10px;
}
