* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Courier New", "Courier", "monospace";
}

body {
  height: 100%;
  width: 100%;
}

/*
*/

body #sec-1 {
  background: rgba(23, 22, 22, 0.8) url(../Images/header-bg.jpg) no-repeat
    center center;
  background-blend-mode: luminosity;
}

.container {
  width: 1140px;
  margin: 0px auto;
  padding: 10px 0px;
}

body section header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: aliceblue;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  transform: scale(2, 0, 5);
}
a:hover {
  background-color: rgb(48, 48, 99);
  padding: 20px 20px;
}

.active {
  background-color: darkgreen;
  padding: 15px 15px;
}
